# Server Konfiguration
PORT=10000

# MongoDB Zugangsdaten (Methode 1: User/Passwort separat)
MONGO_USER="<USER>"
MONGO_PASSWORD="<PASSWORD>"

# MongoDB Verbindung (komplette URI oder Einzelteile)
#MONGO_URI=mongodb+srv://<USER>:<PASSWORD>@<CLUSTER_ADDRESS>/?retryWrites=true&w=majority&appName=LimoDB

# Sicherheit (Pflichtfeld!)
SESSION_SECRET=ein_sehr_sicheres_und_langes_passwort_hier_einfuegen

# Frontend Domain für CORS
FRONTEND_URL="HIERDASFRONTEND"

# KI APIs
GEMINI_API_KEY=dein_google_gemini_api_key

# Lokale Ollama-Instanz für Tinda-Chats (Passe die IP an deinen PC an)
OLLAMA_URL="deine_ollama_url"